<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Paradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar style="--box-shadow: 0 0 1px;" placeholder="Busqueda"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let x of [12, 52, 78]">
      <ion-label>
        <h6>Parada {{ x }}</h6>
        <p>Seleccionar para ver más detalles</p>
      </ion-label>

      <ion-note slot="end">
        {{ x * 150 }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
