<ion-header class="ion-no-border" style="border-bottom: 1px solid var(--ion-color-light-shade)">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-input placeholder="Ingregar ubicación" clearInput></ion-input>

    <!-- <ion-spinner name="crescent" color="medium" class="ion-margin-horizontal" slot="end"></ion-spinner> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" details="none">
    <ion-item lines="none" button>
      <ion-label color="primary">
        <ion-icon name="map"></ion-icon>
        Seleccionar en el mapa
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h2>Recientes</h2>
      </ion-label>

      <ion-button size="small" fill="clear" color="medium">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item button routerLink="/app/suggest">
      <ion-label>
        <h6>Avenida 27 de febrero</h6>
      </ion-label>
      <ion-icon name="star-outline" color="warning" slot="end"></ion-icon>
    </ion-item>

    <ion-item button routerLink="/app/suggest">
      <ion-label>
        <h6>Blue Mall</h6>
        <p>
          Comercial &bull; Avenida Winston Churchill
        </p>
      </ion-label>
      <ion-icon name="star-outline" color="warning" slot="end"></ion-icon>
    </ion-item>

    <ion-item button routerLink="/app/suggest">
      <ion-label>
        <h6>IKEA</h6>
        <p>
          Muebles &bull; Ave. John F. Kennedy
        </p>
      </ion-label>
      <ion-icon name="star-outline" color="warning" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
