<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Gestiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button detail routerLink="/app/stops">
      <ion-icon name="bus" slot="start"></ion-icon>
      <ion-label>Paradas</ion-label>
    </ion-item>

    <ion-item button detail routerLink="/app/lines">
      <ion-icon name="git-branch" slot="start"></ion-icon>
      <ion-label>Rutas</ion-label>
    </ion-item>

    <ion-item button detail routerLink="/app/institutions">
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>Instituciones</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
