<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Instituciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar style="--box-shadow: 0 0 1px;" placeholder="Busqueda"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let x of ['FENATRANO', 'Metro']">
      <ion-label>
        <h6>{{ x }}</h6>
        <p>Rutas 10+</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
