<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-avatar class="ion-margin-end" style="width: 2rem; height: auto" slot="end">
      <img src="assets/img/user.jpg" alt="Usuario">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-vertical ion-padding-vertical"></div>

  <h1 class="ion-text-center ion-margin-top">
    Hello John!
  </h1>

  <hr style="background: var(--ion-color-primary); height: 0.5rem; width: 10%;">

  <div class="ion-margin-vertical ion-padding-vertical"></div>

  <ion-text color="medium">
    <h6 class="ion-margin-top ion-text-center">
      Which place are you looking for today?
    </h6>
  </ion-text>

  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-button size="large" class="ion-no-border">
        <ion-icon name="earth" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list lines="none" details="none">
    <ion-list-header>
      <h2>Recently routes</h2>
    </ion-list-header>

    <ion-item button lines="full" color="primary">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>
        My Home
      </ion-label>
      <ion-button size="small" fill="outline" color="light" slot="end">
        Change
      </ion-button>
    </ion-item>

    <ion-item button *ngFor="let x of [1, 2, 3, 4, 5]">
      <ion-icon name="bus" slot="start"></ion-icon>
      <ion-label>
        <h6>Stop {{ x }}</h6>
        <ion-text color="medium">
          <small>Latest: 3 days ago</small>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
