<ion-content>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Preferencia</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Recomendada</ion-label>
        <ion-radio slot="end" value="star"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label>Mas corta</ion-label>
        <ion-radio slot="end" value="walk"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="code-working" slot="start"></ion-icon>
        <ion-label>Menos transferencia</ion-label>
        <ion-radio slot="end" value="code"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-list-header>
      <ion-label>
        <h2>Medio de tránsporte</h2>
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="bus" slot="start"></ion-icon>
      <ion-label>Bus</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
<!--
    <ion-item>
      <ion-icon name="bus" slot="start"></ion-icon>
      <ion-label>Teleférico</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item> -->

    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Carro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="subway" slot="start"></ion-icon>
      <ion-label>Metro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Caminando</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="bicycle" slot="start"></ion-icon>
      <ion-label>Bicicleta</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
